.card__image{
    height: 279px;
    width: 194px;
    background-repeat: no-repeat;
    background-size: cover;

}

.card__title{
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: #333;
}

.card__description{
    margin: 2px 0 3px;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payment__purchase{
    color: #00b2b2;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .3px;
    font-size: 12px;
}

.subscription{
    color: #f60;
    margin: 5px 10px 0 0;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    font-size: 12px;
}

.promo__payment{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    background-color: #fc363b;
    padding: 3px 6px 1px;
    vertical-align: middle;
    white-space: nowrap;
}

.subscript{
    margin-left: 12px;
}